body {
  font-family: serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #1a1b1e;
  font-family: "Nunito Sans", sans-serif;
  font-size: 23px;
  font-weight: 400;
  margin-left: 22px;
}

#section2 {
  text-align: center;
  margin-top: 50px;
  /*background: whitesmoke;*/
}
#section2,
h1 {
  padding: 1px;
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

/*FORMULARIO */
.formulario-container {
  display: flex;
  padding: 20px;
  height: 100vh;
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  left: 50px;
  top: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.restyle {
  color: black;
  border: none; /* Eliminamos el borde */
  border-bottom: 2px solid #ccc; /* Agregamos solo la línea inferior */
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  mask-image: linear-gradient(transparent, transparent 8px, white 8px);
  -webkit-mask-image: linear-gradient(
    transparent,
    transparent 8px,
    white 8px
  ); /* Para navegadores basados en WebKit */
}
.restyle-bottom {
  clip: rect(
    auto,
    auto,
    8px,
    auto
  ); /* Ajusta el valor 8px según tu preferencia */
}
textarea.restyle {
  height: auto; /* Opcional: ajusta esto según sea necesario */
  min-height: 120px; /* Establece un mínimo alto */
  resize: none;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin-right: 110px; /* espacio entre cajas de texto(formulario)*/
}
.column.apellidos {
  flex: 1;
  margin-right: 40px; /* Ajusta el valor según sea necesario para separar más la columna */
}

.column.email {
  flex: 1;
  margin-right: 40px; /* Ajusta el valor según sea necesario para separar más la columna */
}
.column.seguro-vida {
  flex: 1;
  margin-right: 40px; /* Ajusta el valor según sea necesario para separar más la columna */
}

.column.seguro-digitales {
  flex: 1;
  margin-right: 40px; /* Ajusta el valor según sea necesario para separar más la columna */
}

.column.full-width {
  flex: 1;
  margin-right: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.contacto {
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}
.fondoform {
  margin: 40px;
  background-size: cover;
  background-image: url(imgs/PARA LATERAL FORMULARIO 2.jpg);
}

.send {
  text-align: center;
}

.sendstyle {
  text-decoration: none;
  background-color: #0033a0;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 23px;
  border-radius: 20px;
  padding: 10px 100px;
  cursor: pointer;
  border: none;
}
.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
}

.img3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.bot_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-section {
  margin-top: 40px;
  background-image: url("https://img.freepik.com/fotos-premium/manos-apoyo-solidaridad-equipo-comunidad-lugar-trabajo-asociacion-profesional-maqueta-colaboracion-team-building-over-business-people-and-diversity-company-mission-together_590464-98031.jpg?w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  padding-top: 10px;
  text-align: center;
}

.nosotros-title {
  text-align: left;
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  color: black;
}
.text-container {
  max-width: 650px;
  margin: 50 auto;
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  color: black;
}

.nosotros-content {
  margin-top: 20px;
  text-align: left;
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: black;
}

h2 {
  font-size: 24px;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

.skills-list {
  list-style-type: disc;
  margin-left: 20px;
}

.skills-list li {
  font-size: 16px;
  color: black;
  line-height: 1.5;
  text-align: justify;
}

/*codigo Oscar*/

.carousel-item > div {
  height: 700px; /*400*/
  line-height: 700px; /*500*/
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}

#banner_1 {
  background-color: #ffffff;
  left: -4.5%;
}

#banner_2 {
  background-color: #ffffff;
  left: 95.5%;
}

#banner_3 {
  background-color: #ffffff;
  left: 195.5%;
}

#banner_4 {
  background-color: #ffffff;
  left: 295.5%;
}

.contenedor_texto {
  padding: 70px;
}

.contenedor_texto h2 {
  font-size: 40px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.contenedor_texto p {
  font-size: 20px;
  color: darkkhaki;
  font-family: sans-serif;
}
.contenedor_texto img {
  max-width: 100%;
  height: auto;
}

/* Carousel */

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 110%; /*1450*/
  height: 450px;
  transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
  border: 1px solid white;
  position: relative;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  background-color: #c3afaf;
  opacity: 0.7;
  border-radius: 50%;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.carousel-prev {
  left: 3%;
  padding-right: 0px;
}

.carousel-prev::before {
  content: "\f053";
  font-family: "FontAwesome";
}

.carousel-next {
  right: 3%;
  padding-left: 0px;
}

.carousel-next::before {
  content: "\f054";
  font-family: "FontAwesome";
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 0.4;
}

/* Pagination */

.carousel-pagination {
  list-style: none;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.carousel-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #000;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  opacity: 0.5;
  transition-property: transform, opacity, background-color;
  transition-duration: 0.3s;
}

.carousel-bullet:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #fff;
  cursor: default;
}

/*footter*/

.secfooter {
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  background: #2e2d2d;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #2e2d2d;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  font-size: 50px;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  font-family: "Nunito Sans", sans-serif;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* comentario*/

.contenedor1 {
  margin: 10px;
  margin-top: 80px;
  padding: 30px;
  width: 350px;
  height: 170px;
  border: 1px solid rgba(26, 27, 30, 0.3);
  border-radius: 6px;
  text-align: justify;
  background: white;
  box-shadow: 10px 10px 10px gray;
}

.contenedor1 h1 {
  font-size: 20px;
  position: relative;
  margin-top: -40px;
  margin-left: 70px;
}
.titlecoment h1 {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}
.contenedor1 p {
  margin-top: 30px;
}
.contenedor1 img {
  border-radius: 50%;
}
.contprincipal {
  margin-top: -50px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/*gallery*/

.section3 {
  margin-top: -90px;
  display: flex;
  justify-content: space-around;
}
.tittleseguros {
  margin-top: 40px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  text-align: center;
}

.contentgallery h1 {
  font-family: "Nunito Sans", sans-serif;
}

.gallery img {
  height: 380px;
  width: 250px;
  border-radius: 2px;
  transition: 0.5s;
}
.gallery {
  text-align: left;
  margin-top: 100px;
  grid-area: 1 / 1 / 3 / 4;
}
.card {
  width: 250px;
  display: inline-block;
  height: 380px;
  margin: 80px;
  margin-top: -5px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}
.description {
  text-align: center;
  height: 60px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  color: black;
  transition: 0.5s;
}
.description h1 {
  position: absolute;
  left: 0px;
  width: 100%;
  font-size: 25px;
  color: grey;
  background-image: radial-gradient(
    circle at 60.95% 44.89%,
    #ffffff 0,
    #ffffff 16.67%,
    #fffbf9 33.33%,
    #f9eded 50%,
    #e1e0e0 66.67%,
    #ccd3d2 83.33%,
    #bac9c6 100%
  );
}
.tittleconectate {
  position: relative;
  margin-left: -20px;
  margin-top: -20px;
}
.tittlesaludable {
  position: relative;
  margin-left: -15px;
  margin-top: -20px;
}
.tittleempresas {
  position: relative;
  margin-left: -10px;
  margin-top: -20px;
}

.description p {
  font-size: 14px;
  visibility: hidden;
  width: 205px;
  height: 200px;
  text-align: left;
  opacity: 0;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.card:hover {
  cursor: pointer;
}
.card:hover .description {
  height: 200px;
  bottom: -4px;
  background: white;
}
.card:hover p {
  opacity: 1;
  visibility: visible;
}
.card:hover img {
  transform: scale(1.1);
}

.texto1 {
  text-align: center;
  margin-bottom: -7px;
}
span {
  color: lightseagreen;
}

/* Responsive and Hamburguer menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 15px;
}

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  background-color: #333;
  height: 2px;
  width: 25px;
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.menu__btn span::before,
.menu__btn span::after {
  content: "";
}

#menu__toggle:checked + .menu__btn span {
  background: transparent;
}

#menu__toggle:checked + .menu__btn span::before {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn span::after {
  transform: rotate(-45deg);
}
#menu__toggle {
  display: none;
}

.menu__btn {
  display: inline-block;
  cursor: pointer;
}

#menu__toggle:checked ~ .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 60px;
  left: 0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px) saturate(180%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


/* Hero Banner */
.banner {
  margin-top: 100px;
  position: relative;
  height: 80vh;
}

.banner-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1; /* Asegura que estén por encima de la imagen */
}

.banner-btn {
  background-color: #0033A0;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 25px;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 80px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

.banner-title {
  font-size: 60px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  color: black;
}

.banner-text {
font-size: 20px;
font-family: 'Nunito Sans', sans-serif;
position: relative;
margin-top: -40px;
color: black;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    position: relative;
    z-index: 5;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(
      255,
      255,
      255,
      0.9
    ); /* Cambiado a un fondo blanco con opacidad */
    backdrop-filter: blur(
      8px
    ); /* Ajusta el valor de desenfoque según tu preferencia */
    border-top: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Agregada transición para suavizar el cambio de color */
  }

  #menu__toggle {
    display: none;
  }

  #menu__toggle:checked ~ nav .menu {
    display: flex;
  }

  .menu li {
    margin: 5px 0;
    text-align: center;
    backdrop-filter: none;
    transition: background-color 0.3s ease; /* Agregada transición para suavizar el cambio de color */
  }

  .menu li a {
    padding: 10px;
    display: block;
  }

  .menu li a:hover {
    background-color: #0033a0; /* Cambia el color de fondo al pasar el ratón */
    border-radius: 6px; /* Agregué bordes redondeados */
    max-width: 100%; /* Agregué un ancho máximo para evitar que el enlace se desborde */
    color: white;
  }

  /* Hero section Banner responsive */
  .banner-content {
    top: 50%;
    left: 50%;
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
        object-fit: cover;
    object-position: bottom;
    }
  .banner-title {
    font-size: 40px;
  }
  
  .banner-text {
    font-size: 16px;
  }
  
  .banner-btn {
    font-size: 20px;
    padding: 10px 40px;
  }

  .section3 {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 20px auto;
  }

  .description {
    width: 100%;
  }

  .description h1 {
    width: -webkit-fill-available;
    font-size: 20px;
  }

  .description p {
    width: 100%;
    font-size: 12px;
  }

  .tittleseguros {
    font-size: 30px;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }
  .formulario-container {
    flex-direction: column;
    height: auto;
  }

  .left-section,
  .right-section {
    flex: 1;
    padding: 10px;
    position: static;
  }

  .right-section {
    align-items: flex-start;
  }

  label {
    font-size: 16px;
  }

  .restyle {
    padding: 6px;
  }

  .row {
    flex-direction: column;
  }

  .column {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacto {
    font-size: 30px;
  }

  .sendstyle {
    font-size: 18px;
    padding: 10px 50px;
  }
  .img3 {
    height: auto;
  }

  .nosotros-section {
    padding: 20px;
    padding-top: 5px;
  }

  .nosotros-title {
    font-size: 22px;
  }

  .text-container {
    max-width: 100%;
    margin: 25px auto;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  .skills-list li {
    font-size: 14px;
  }
  .contenedor1 {
    width: 85%;
    height: auto;
    padding: 20px;
    margin-top: 40px;
  }

  .contenedor1 h1 {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 35px;
  }

  .titlecoment h1 {
    font-size: 24px;
  }

  .contenedor1 p {
    margin-top: 15px;
  }

  .contprincipal {
    margin-top: -25px;
    margin-left: 7.5px;
    grid-template-columns: repeat(1, 1fr);
  }
  .secfooter {
    height: auto;
    font-size: 18px;
  }

  .footer-distributed {
    padding: 35px 25px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-distributed h3 {
    font-size: 36px;
  }

  .footer-distributed .footer-center i {
    font-size: 20px;
    line-height: 35px;
    margin: 10px 0;
  }

  .footer-distributed .footer-center p span {
    font-size: 12px;
  }

  .footer-distributed .footer-company-about span {
    font-size: 12px;
  }

  .footer-distributed .footer-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}
